<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h2 th:if="${available.isEmpty()}">No rooms</h2>
    <div th:if="${!available.isEmpty()}">
        <h2>Available Rooms</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Facilities</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${available}">
                <td th:text="${room.getName()}">
                <td th:text="${room.getFacilities()}">
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>