<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/booking.css" th:href="@{/css/booking.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 10px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Hotel System</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

           <div th:if="${session.usersession != null}" class="d-flex flex-row">
               <form th:action="@{/setting}" method="get">
                   <input hidden th:value="${session.usersession.get().getId()}" id="id_user">
                   <button type="submit" class="btn btn-light"><i class="fas fa-sliders-h"></i></button>
               </form>

               <form th:action="@{/logout}" method="post" class="ml-2">
                   <button type="submit" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i></button>
               </form>
           </div>

            <a th:if="${session.usersession == null}" href="/" class="btn btn-success">Login</a>
        </div>
    </nav>


    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <h2>Available Rooms</h2>

            <form th:action="@{/booking}" method="get">
                <input class="btn btn-warning" type="submit" value="Search again" />
            </form>
        </div>

        <h2 th:if="${available.isEmpty()}">No rooms available</h2>

        <div th:if="${!available.isEmpty()}">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>OCCUPANCY</th>
                        <th>FACILITIES</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="room : ${available}">
                        <td th:text="${room.name}">
                        <td th:text="${room.price}"></td>
                        <td th:text="${room.occupancy}" class="text-center"></td>
                        <td th:text="${room.facilities}">
                        <td>
                            <form th:if="${session.usersession != null}" action="#" th:action="@{/bookingDetails}" method="get" enctype="multipart/form-data">
                                <input hidden th:value="${room.id_room}" name="id_room" id="id_room">
                                <button type="submit" class="btn btn-warning">Reserve</button>
                                <!--<a th:if="${session.usersession == null}" type="submit" class="btn btn-warning">Log In</a>-->
                            </form>
                            <form th:if="${session.usersession == null}" action="#" th:action="@{/login_to_book}" method="get" enctype="multipart/form-data">
                                <input hidden th:value="${room.id_room}" name="id_room_ses" id="id_room_ses">
                                <button type="submit" class="btn btn-warning">Login To Book</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav aria-label="Pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                                <a class="page-link" th:href="@{|/booking/checkPage?page=${prev}|}">Previous</a>
                            </li>
                            <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                                <a class="page-link" th:href="@{|/booking/checkPage?page=${page}|}" th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                                <a class="page-link" th:href="@{|/booking/checkPage?page=${next}|}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small stylish-color-dark bg-dark">
        <p class="footer-copyright text-center p-3 text-light">© 2020 Copyright: Hotel System</p>
    </footer>
</body>
</html>