<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Booking</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/booking/check}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="from">Check In</label>
                <input type="date" class="form-control" name="from" id="from" th:value="${dateToday}" th:min="${dateToday}">
            </div>

            <div class="form-group">
                <label for="to">Check Out</label>
                <input type="date" class="form-control" name="to" id="to" th:min="${dateTomorrow}">
                <p th:value="${dateTomorrow}"></p>
            </div>

            <div class="form-group">
                <label for="guests">Occupancy</label>
                <select class="form-control" name="guests" id="guests">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

</body>
</html>