<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Booking</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/checkBooking.css" th:href="@{/css/checkBooking.css}">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <form action="#" th:action="@{/booking/check}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="label" for="from">CHECK IN</label>
                        <input type="date" class="form-control" name="from" id="from" th:value="${dateToday}" th:min="${dateToday}" required>
                    </div>

                    <div class="form-group">
                        <label class="label" for="to">CHECK OUT</label>
                        <input type="date" class="form-control" name="to" id="to" th:min="${dateTomorrow}" required>
                        <p th:value="${dateTomorrow}"></p>
                    </div>

                    <div class="form-group">
                        <label class="label" for="guests">GUESTS</label>
                        <select class="form-control" name="guests" id="guests">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Check In must be lower than Check out
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>