<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel System</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css" th:href="@{/static/css/index.css}">
</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 hotel-img">
                    <img src="static/img/hotel.png" th:src="@{/img/hotel.png}" alt="Hotel Picture" />
                </div>

                <div id="roomgrid-title">
                    <span class="welcome-txt">WELCOME</span>
                </div>

                <div>
                    <a href="/booking" class="btn button-check-booking">Start Booking</a>
                    <a href="/login" class="btn button-login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>