<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOGIN</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="static/img/iconuser.png" th:src="@{/img/iconuser.png}"/>
            </div>

            <form class="col-12" th:action="@{/login}" method="post">
                <div class="form-group" id="email-group">
                    <input type="email" class="form-control" placeholder="Email" name="email"/>
                </div>
                <div class="form-group" id="password-group">
                    <input type="password" class="form-control" placeholder="Password" name="password"/>
                </div>

                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Log In</button>
            </form>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Check your info
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Successful Log out
            </div>
        </div>
    </div>
</div>
</body>
</html>