<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/checkBooking.css" th:href="@{/css/payment.css}">
</head>
<body>
<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4"></h1>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="card ">

                <div class="card-header">
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" th:action="@{/reserve}" method="post">
                                <div class="form-group"> <label>
                                    <h6>Card Owner</h6>
                                    </label> <input type="text" name="holder" id="holder" placeholder="Card Owner Name" required pattern="[A-Za-z .]{8,50}" class="form-control">
                                </div>
                                <div class="form-group"> <label>
                                    <h6>Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" id="cardNumber" placeholder="Valid card number" class="form-control" minlength="13" maxlength="16" required pattern="[0-9]{13,16}">
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span class="hidden-xs">
                                            <h6>Expiration Date</h6>
                                        </span></label>
                                            <div class="input-group"> <input type="number" min="1" max="12" placeholder="MM" name="month_exp" id="month_exp" class="form-control" required> <input type="number" min="2021" max="2030" name="year_exp" id="year_exp" placeholder="YY" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <h6>CVV</i></h6>
                                            </label> <input type="text" required minlength="3" maxlength="3" name="cvv" id="cvv" pattern="[0-9]{3}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <a class="btn btn-info" th:href="@{|/booking|}">Search again</a>

                                        <button type="submit" class="subscribe btn btn-primary shadow-sm"> Confirm Payment </button>
                                    </div>
                            </form>
                            </div>
                        </div> <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>