<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
        <br>
        <h2>Create Room</h2>
        <form action="#" th:action="@{/save}" th:object="${room}" method="post">
            <input type="hidden" th:field="*{id_room}" name="id_room" id="id_room">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" name="name">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" th:field="*{price}" name="price">
            </div>

            <div class="form-group">
                <label for="occupancy">Occupancy</label>
                <input type="text" class="form-control" id="occupancy" th:field="*{occupancy}" name="occupancy">
            </div>

            <div class="form-group">
                <label for="availability">Availability</label>
                <select name="availability" id="availability" th:field="*{availability}">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
            </div>

            <div class="form-group">
                <label for="facilities">Facilities</label>
                <input type="text" class="form-control" id="facilities" th:field="*{facilities}" name="facilities">
            </div>

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</body>
</html>